
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@section Styles{
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="test2">
    @Model
</div> 