html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.test1{
    position:relative;
    align-items:center;
}
.test2{
    position:absolute;
    right:30px;
    width:100px;
    height:100px;
    border:1px solid black;
    align-self:center;
    text-align:center;
}